# The MySQL server
# ------------------------------------------
# [mysqld]
# ------------------------------------------
[mysqld]
innodb_large_prefix          = true
innodb_file_format           = barracuda
innodb_file_per_table        = true
port                         = 3306
 
key_buffer_size              = 16M
max_allowed_packet           = 128M
 
explicit_defaults_for_timestamp = 1
 
table_open_cache             = 64
symbolic-links               = 0
secure_file_priv             = ""
 
server-id                    = 1
innodb_buffer_pool_instances = 8
innodb_flush_method          = O_DIRECT
sync_binlog                  = 1
 
# -----------------------
# Log files
# -----------------------
# Error log
log_error                    = /var/log/mysql/error.log
 
# General query log
general_log                  = 1
general_log_file             = /var/log/mysql/general.log
 
# Slow query log
slow_query_log               = 1
slow_query_log_file          = /var/log/mysql/slow.log
 
# Binary log settings
log_bin                      = /var/log/mysql/mysql-bin.log
max_binlog_size              = 100M
expire_logs_days             = 2
binlog_format                = ROW
 
# ------------------------------------------
# [mysqldump]
# ------------------------------------------
[mysqldump]
quick
max_allowed_packet           = 128M
 
# ------------------------------------------
# [mysql]
# ------------------------------------------
[mysql]
no-auto-rehash
 
# ------------------------------------------
# [isamchk]
# ------------------------------------------
[isamchk]
key_buffer                   = 20M
sort_buffer_size             = 20M
read_buffer                  = 2M
write_buffer                 = 2M
 
# ------------------------------------------
# [myisamchk]
# ------------------------------------------
[myisamchk]
key_buffer                   = 20M
sort_buffer_size             = 20M
read_buffer                  = 2M
write_buffer                 = 2M
myisam_sort_buffer_size      = 8M
 
# ------------------------------------------
# [mysqlhotcopy]
# ------------------------------------------
[mysqlhotcopy]
interactive-timeout
 